<head>
  <meta charset="utf-8">
  <title>Spectral | MOAI</title>
  <meta property="og:url" content="http://www.moai.co.uk" />
  <link rel="stylesheet" href="<%= path %>css/font/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%= path %>css/base.css">
</head>
