<head>
  <meta charset="utf-8">
  <title>Spectral | MOAI</title>
  <meta property="og:url" content="http://www.moai.co.uk" />
  <link rel="stylesheet" href="http://ec2-54-77-155-243.eu-west-1.compute.amazonaws.com:5555/public/css/font/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://ec2-54-77-155-243.eu-west-1.compute.amazonaws.com:5555/public/css/base.css">
</head>
