<head>
  <meta charset="utf-8">
  <title>Moai World</title>
  <meta property="og:url" content="http://www.moai.co.uk" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Moais Digital Art" />
  <meta property="og:locale" content="en_UK" />
  <meta property="og:description" content="Interactive digital art and music by Moai" />
  <meta property="og:image" content="http://static01.moai.co.uk/thumb" />
  <meta property="og:image:width" content="http://static01.moai.co.uk/thumb" />
  <meta property="og:image:height" content="http://static01.moai.co.uk/thumb" />
  <link rel="stylesheet" href="/public/stylesheets/font/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/stylesheets/base.css">
</head>
