<!DOCTYPE html>
<html>
  <% include partials/header %>
  <body>
    <div class="framework">
      <div class="main-header">
        <a href="/song/1">
          <h1 class="main-logo"><%= title %></h1>
          <p class="main-headline"><%= headline%></p>
        </a>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>