<!DOCTYPE html>
<html>
  <% include partials/header %>
  <body>
    <video
      muted nocontrols autoplay loop 
      src="<%= song_video %>" 
      class="video-layer layer-2" 
      id="layer2">
    </video>
    <div class="framework">
      <div class="main-header">
        <a href="/song/1">
          <h1 class="main-logo"><%= title %></h1>
          <p class="main-headline"><%= headline%></p>
        </a>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>