<!DOCTYPE html>
<html>
  <% include partials/header %>
  <body>
    <div class="gradient__container">
      <div class="gradient_45 --<%= song_name %>"></div>
      <div class="gradient_135 --<%= song_name %>"></div>
      <div class="gradient_225 --<%= song_name %>"></div>
      <div class="gradient_315 --<%= song_name %>"></div>
    </div>
    <div class="canvas-container">
      <div 
        class="canvas-layer layer1 hidden" 
        id="layer1">
      </div>
    </div>
    <% include partials/framework %>
    <% include partials/scripts %>
  </body>
</html>